/*type selectors*/

body {
	color: #878787;
	margin: 0;
}

ul li {
	background-color: tomato;
	color: white;
	margin-bottom: 5px;
}

h1 {
	font-size: 90px;
	color: white;
}

h2 {
	font-size: 53px;
}

h3 {
	font-size: 20px;
	color: #48525c;
}

/*class selectors*/

.main-header {
	background-color: orange;
}

.title {
	color: white;
	font-size: 26px;
}


.primary-content, 
.secondary-content {
	width: 60%;
}

.primary-content {
	text-align: center;
}

.t-border {
	border-top: 2px solid lightgrey;
}

#main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px orange;
}

/*pseudo classes*/

/*pseudo-class selector that targets default, unvisited links*/
a:link {
	color: orange;
}

/*pseudo-class selector that targets all visited links*/
a:visited {
	color: lightblue;
}

/*pseudo-class selector that targets all links on hover*/
a:hover {
	color: forestgreen;
}

/*The :active pseudo-class gets applied when an element is in an active state:*/
a:active {
	color: lightcoral;
}

/*The :focus pseudo-class is only applied to interactive elements like links, buttons and form elements. The styles are applied as soon as the element receives focus:*/
a:focus {
	color: white;
	background-color: orange;
}



